*,*::after, *::before{
    box-sizing: border-box;
}
:root{
    --cell-size:100px;
    --mark-size: calc(var(--cell-size)*.9);
}

body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #DFDBE5; position:relative;
    
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.board{

    width: 22rem;
    height: 22rem;
    display: grid;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);

}
.quote-container{
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.4);
    background-color: rgb(255, 255, 255,0.6);
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
    

}

.cell{
    width: var(--cell-size);
    height:var(--cell-size);
  
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
   border-top: none;
    
}
.cell:nth-child(3n+1){
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
   border-bottom: none;
    
}

.cell.x,
.cell.circle{
    cursor:not-allowed;
}
.cell.x::before,
.cell.x::after,
.cell.circle::before{
    background-color: black;

}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
    background-color: lightgray;

}




.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) *.15);
    height: var(--mark-size);
   

}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after
{
    content: '';
    position: absolute;
    border-radius: 50%;

}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before
{
    width: var(--mark-size);
    height: var(--mark-size);
   
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width:calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color: white;
}
.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;


}
.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25rem .5rem;
    cursor: pointer;

}
.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.winning-message.show{
    display: flex;
}
